<div class="component">
    <div class="col-md-6">
        <form asp-page="WebCrawler" asp-page-handler="URI">
            <div class="form-group">
                <label>Enter domain URI: </label>
                <input type="text" name="pageUri" />
            </div>
        </form>
    </div>
</div>