@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Main page for data distillation</h1>
<vc:choose-component></vc:choose-component>
@if (Model.WhichApproach != null)
{
    @await Component.InvokeAsync(Model.WhichApproach)
}
@if (ViewData["error"] != null)
{
    <span class="text-danger">@ViewData["error"]</span>
}
@if (Model.ShowOutput)
{
    <vc:data-output data="@Model.OutputData"></vc:data-output>
}