@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h2>Main page for data distillation</h2>
<vc:choose-component></vc:choose-component>
@if (Model.WhichApproach != null)
{
    @await Component.InvokeAsync(Model.WhichApproach)
}
@if (Model.ShowOutput)
{
    <vc:data-output></vc:data-output>
}