@page
@model RDFDataExtractor.Pages.WebCrawlerModel
@{
    ViewData["Title"] = "WebCrawler";
}

<h1>Distill data from a domain</h1>
<vc:distill-domain></vc:distill-domain>
@if (Model.ShowOutput)
{
    <vc:data-output data="@Model.OutputData"></vc:data-output>
}
